<div class="container takasa">
  <div class="row">

    <div class="col-xs-9">
      <h2>ジャンル編集</h2><br>


       <%= form_for @genre, url: admin_genre_path(@genre.id) do |f| %>
        <div class="field row">
          <lavel>ジャンル名</lavel>
          <%= f.text_field :name %>
          <%= f.submit "変更を保存する", class: "btn btn-primary" %>
         </div>
      <% end %>
  </div>
</div>